{{/*-
{{.DotDot "FsPathS"	"fs.FsPathS"}}
{{.DotDot "FsInfoS"	"fs.FsInfoS"}}
{{.DotDot "FsBase"	"*fs.FsBase"}}
{{.DotDot "FsBaseS"	"fs.FsBaseS"}}
{{.DotDot "FsFold"	"*fs.FsFold"}}
{{.DotDot "FsFoldS"	"fs.FsFoldS"}}
{{.DotDot "FsFile"	"*fs.FsFile"}}
{{.DotDot "FsFileS"	"fs.FsFileS"}}
{{.DotDot "FsData"	"*fs.FsData"}}
{{.DotDot "FsDataS"	"fs.FsDataS"}}
{{.DotDot "Pattern"	"*fs.Pattern"}}
{{.DotDot "PatternS"	"fs.PatternS"}}
{{range .Range}}
	{{.DotDot ":Package:" "fs"}}
	{{with .G ":Import:"}}
		{{.DotDot "github.com/golangsam/container/ccsafe/fs" ""}}
	{{end}}
{{end}}
-*/}}
{{- template "Prolog"			. -}}
// No go functionality is associated with this source file.
