{{/*-
{{.DotDot ""		"struct{}"		}}
{{range .Range}}
	{{.DotDot ":Package:" "pat"}}
{{end}}
-*/}}
{{- template "Copy"			. }}
{{  template "Package"			. }}
{{  template "Edit"			. }}
// No go functionality is associated with this source file.
