{{template "Copy"			. }}
{{template "Package"			. }}
{{template "Edit"			. }}
import (
	"fmt"

	"container/ccsafe/fs"
)

// {{.}}PrintFunc is a simple helper for Pipe{{.}}Func
func {{.}}PrintFunc(prefix string) func(fp {{.Dot}}) {{.Dot}} {
	return func(fp {{.Dot}}) {{.Dot}} {
		fmt.Println(prefix, fp.String())
		return fp
	}
}
