{{/*-
{{.DotDot ""		"bool"		}}
{{.DotDot "BoolS"	"[]bool"	}}
{{range .Range}}
	{{.DotDot ":Package:" "IsBoolean"}}
{{end}}
-*/}}
{{- template "Prolog"			. }}
// No go functionality is associated with this source file.
