{{/*-
{{.DotDot "Tag"     "tag.TagAny"}}
{{range .Range}}
	{{.DotDot ":Package:" "tag"}}
	{{with .G ":Import:"}}
		{{.DotDot "container/ccsafe/tag" ""}}
	{{end}}
{{end}}
-*/}}
{{template "Copy"			. }}
{{template "Package"			. }}
{{template "Edit"			. }}
// No go functionality is associated with this source file.
