{{/*-
{{.DotDot ""		"error"		}}
{{.DotDot "ErrorS"	"[]error"	}}
{{range .Range}}
	{{.DotDot ":Package:" "IsError"}}
{{end}}
-*/}}
{{-  template "Copy"			. }}
{{-  template "Package"			. }}
{{-  template "Edit"			. }}
// No go functionality is associated with this source file.
