// Chan{{.}}Slice returns a channel to receive all inputs before close.
func Chan{{.}}Slice(inp ...[]{{.Dot}}) (out <-chan {{.Dot}}) {
	cha := make(chan {{.Dot}})
	go func(out chan<- {{.Dot}}, inp ...[]{{.Dot}}) {
		defer close(out)
		for _, in := range inp {
			for _, i := range in {
				out <- i
			}
		}
	}(cha, inp...)
	return cha
}
