// Join{{.}}Chan
func Join{{.}}Chan(out chan<- {{.Dot}}, inp <-chan {{.Dot}}) (done <-chan struct{}) {
	cha := make(chan struct{})
	go func(done chan<- struct{}, out chan<- {{.Dot}}, inp <-chan {{.Dot}}) {
		defer close(done)
		for i := range inp {
			out <- i
		}
		done <- struct{}{}
	}(cha, out, inp)
	return cha
}
