{{/*-
{{.DotDot "Reader"		"*bufio.Reader"		}}
{{.DotDot "ReadWriter"		"*bufio.ReadWriter"	}}
{{.DotDot "Scanner"		"*bufio.Scanner"	}}
{{.DotDot "SplitFunc"		"bufio.SplitFunc"	}}
{{.DotDot "Writer"		"*bufio.Writer"		}}
{{range .Range}}
	{{.DotDot ":Package:" "bufio"}}
	{{with .G ":Import:"}}
		{{.DotDot "bufio" "bufio"}}
	{{end}}
{{end}}
-*/}}
{{- template "Copy"			. }}
{{  template "Package"			. }}
{{  template "Edit"			. }}
// No go functionality is associated with this source file.
